@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');

$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

@mixin reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $opensans;
}

* {
    @include reset;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $montserrat;
}