@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap");

$montserrat: "Montserrat", sans-serif;
$opensans: "Open Sans", sans-serif;

@mixin reset {
    box-sizing: border-box;
    font-family: $opensans;
    line-height: 120%;
}
@mixin flexBox(
    $flexDirection: row,
    $flexWrap: nowrap,
    $alignItems: stretch,
    $alignContent: normal,
    $justifyContent: flex-start
) {
    display: flex;
    flex-direction: $flexDirection;
    flex-wrap: $flexWrap;
    align-items: $alignItems;
    align-content: $alignContent;
    justify-content: $justifyContent;
}

* {
    @include reset;
}
body {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $montserrat;
    line-height: 150%;
}

body {
    background-color: #222;
    @include flexBox($alignItems: center, $justifyContent: center);
    height: 100vh;
}
#root {
    width: 50%;
    height: 50%;
    display: block;
}

/* Quiz wrapper */
.quiz {
    background-color: #EAEAEA;
    width: 100%;
    min-height: 200px;
    height: 100%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    @include flexBox($flexDirection: column, $justifyContent: space-between);

    .score-section {
        font-size: 24px;
        @include flexBox($alignItems: center);
    }
}

/* Question section (left-hand side) */
.question-section {
    width: 100%;
    position: relative;

    .question-count {
        margin-bottom: 20px;
        font-family: $montserrat;

        span {
            font-size: 28px;
        }
    }

    .question-text {
        margin-bottom: 12px;
    }
}

/* Answer section (right-hand side) */
.answer-section {
    width: 100%;
    flex-grow: 1;
    @include flexBox($flexDirection: column, $flexWrap: wrap, $justifyContent: space-between);

    button {
        width: 50%;
        font-size: 16px;
        background-color: #999;
        padding: 5px;
        margin: 5px 0;
        border: 1px solid #000;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #fff;
        }
        &:focus {
            outline: none;
        }
    }
}
